<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main" aria-expanded="false">
        <span class="sr-only">toggle nav</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <strong class="navbar-brand">croakr</strong>
    </div>
    <div class="collapse navbar-collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <%= navbar_element "home", home_path %>
        <%= navbar_element "about", about_path %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <%= navbar_element "profile", current_user %>
          <%= navbar_element "settings", edit_user_path(current_user) %>
          <%= navbar_element "log out", logout_path, "delete" %>
        <% else %>
          <%= navbar_element "log in", login_path %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>