<!DOCTYPE html>
<html>
<head>
  <title>Croakr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>

  <header id="main-header" class="header container-fluid">
    <%= render 'layouts/navbar' %>
  </header>

  <div id="main-container" class="container">
    <%= yield %>
  </div>

  <footer id="main-footer" class="footer container">
    <%= render 'layouts/footer' %>
  </footer>

</body>
</html>
